.odd {
    background-color: #ffc0cb;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#two {
    color: #0000ff;
    font-size: 36px;
}
.odd.cooler {
    font-size: 24px;
}
#four {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}